@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes widen {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

.animate-widen {
    animation: widen 1s;
    @apply ease-in-out relative origin-center w-[1034px]
}

@keyframes jump-in {
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes jump-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0); }
}

.jump-in {
    animation: jamp-in 1s forwards;
}

.jump-out {
    animation: jamp-out 1s forwards;
}
